.wrapper {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.title {
    padding-bottom: 38px;
}

.link-title {
    text-decoration: none;
    color: black;
    font-size: 80px;
}

.md {
    color: #4BCAFF;
    font-size: 80px;
}

.header-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    height: 72px;
    margin-bottom: 48px;
}

.header-li:hover {
    background: #222F3A;
}

.header-li {
    list-style-type: none;
    border-left: 1px solid #FFFFFF;
    padding: 20px;
}


.header-li:last-child {
    border-right: 1px solid #FFFFFF;
}

.a-name {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.aside-blok {
    padding-right: 52px;
}

.aside-main {
    display: flex;
}

.aside-ul {
    display: flex;
    flex-direction: column;
    font-size: 27px;
    border: 1px solid #000000;
    list-style-type: none;
    width: 344px;
    height: 399px;
}

.img-paragraphe {
    display: flex;
    flex-direction: column;
}

.name-as {
    display: block;
    padding: 22px;
    text-decoration: none;
    color: #495863;
}

.name-as:hover {
    background: #DBDBDB;
    padding-left: 50px;
    font-weight: 400;
    font-size: 27px;
    color: #35444F;
}

.fotototo {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    height: 529px;
    align-items: center;
    margin-bottom: 37px;
}

.img-style {
    width: 320px;
    height: 381px;
    top: 0;
    left: 0;
    right: 0;
}

.img-style:hover {
    transform: scale(1.2);
}

.text {
    font-size: 18px;
    color: #2C2C2C;
}

.text-1 {
    padding-bottom: 34px;
}

.text-2 {
    padding-bottom: 54px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
}

.footer-ul {
    display: flex;
    list-style-type: none;
    font-size: 28px;
    margin-left: 20px;
}

.name-foot {
    text-decoration: none;
    color: #0C1927;
}

.footer-li {
    padding: 18px;
}

.name-foot:hover {
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
    padding-bottom: 6px;
}

.copy {
    margin-right: 40px;
    font-weight: 400;
    font-size: 24px;
    color: #010101;
}